In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv(
    "input.csv",
    header=None,
    names=["col1"]
)

In [5]:
df

                          col1
0             1-4 m: mrfmmbjxr
1    5-16 b: bbbbhbbbbpbxbbbcb
2           7-8 x: qxrxmxccxxx
3         9-11 k: kkkkkkktmkhk
4        8-12 g: sgwvdxzhkvndv
..                         ...
995          4-9 v: vvvvvvvvvv
996            5-8 w: cwwwzwwb
997            7-8 r: rrrrxrrr
998      8-9 f: sgdcqfhfcfsflb
999           3-7 g: gdgtnfggq

[1000 rows x 1 columns]

In [6]:
def parse_input(input_str):
    pwd = input_str.split(": ")[1]
    rule = input_str.split(": ")[0]
    letter = rule.split(" ")[1]
    min_occur = int(rule.split(" ")[0].split("-")[0])
    max_occur = int(rule.split(" ")[0].split("-")[1])
    
    res = pd.Series(dtype=None)
    res["min_occur"] = min_occur
    res["max_occur"] = max_occur
    res["letter"] = letter
    res["pwd"] = pwd
    
    return res

In [7]:
df[["min_occur", "max_occur", "letter", "pwd"]] = df.apply(lambda row: parse_input(row["col1"]), axis=1)

<ipython-input-6-df0a8ae44bb4>:8: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  res = pd.Series(dtype=None)

In [8]:
df

                          col1  min_occur  max_occur letter                pwd
0             1-4 m: mrfmmbjxr          1          4      m          mrfmmbjxr
1    5-16 b: bbbbhbbbbpbxbbbcb          5         16      b  bbbbhbbbbpbxbbbcb
2           7-8 x: qxrxmxccxxx          7          8      x        qxrxmxccxxx
3         9-11 k: kkkkkkktmkhk          9         11      k       kkkkkkktmkhk
4        8-12 g: sgwvdxzhkvndv          8         12      g      sgwvdxzhkvndv
..                         ...        ...        ...    ...                ...
995          4-9 v: vvvvvvvvvv          4          9      v         vvvvvvvvvv
996            5-8 w: cwwwzwwb          5          8      w           cwwwzwwb
997            7-8 r: rrrrxrrr          7          8      r           rrrrxrrr
998      8-9 f: sgdcqfhfcfsflb          8          9      f     sgdcqfhfcfsflb
999           3-7 g: gdgtnfggq          3          7      g          gdgtnfggq

[1000 rows x 5 columns]

In [9]:
def is_correct(min_occur, max_occur, letter, pwd):
    res = pd.Series(dtype=None)
    res["is_correct"] = False
    if pwd.count(letter) <= max_occur and pwd.count(letter) >= min_occur:
        res["is_correct"] = True
        return res
    else:
        return res

In [10]:
df["is_correct"] = df.apply(
    lambda row: is_correct(row["min_occur"], row["max_occur"], row["letter"], row["pwd"]),
    axis=1
)

<ipython-input-9-29d1ba3c87dc>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  res = pd.Series(dtype=None)

In [11]:
df

,col1,min_occur,max_occur,letter,pwd,is_correct
0,1-4 m: mrfmmbjxr,1,4,m,mrfmmbjxr,True
1,5-16 b: bbbbhbbbbpbxbbbcb,5,16,b,bbbbhbbbbpbxbbbcb,True
2,7-8 x: qxrxmxccxxx,7,8,x,qxrxmxccxxx,False
3,9-11 k: kkkkkkktmkhk,9,11,k,kkkkkkktmkhk,True
4,8-12 g: sgwvdxzhkvndv,8,12,g,sgwvdxzhkvndv,False
...,...,...,...,...,...,...
995,4-9 v: vvvvvvvvvv,4,9,v,vvvvvvvvvv,False
996,5-8 w: cwwwzwwb,5,8,w,cwwwzwwb,True
997,7-8 r: rrrrxrrr,7,8,r,rrrrxrrr,True
998,8-9 f: sgdcqfhfcfsflb,8,9,f,sgdcqfhfcfsflb,False
999,3-7 g: gdgtnfggq,3,7,g,gdgtnfggq,True

In [12]:
len(df.loc[df.is_correct].index)

607

In [16]:
def is_correct2(min_occur, max_occur, letter, pwd):
    res = pd.Series(dtype=None)
    res["is_correct"] = False
    if ((pwd[min_occur - 1] == letter) or (pwd[max_occur - 1] == letter)) and (pwd[min_occur - 1] != pwd[max_occur - 1]):
        res["is_correct"] = True
        return res
    else:
        return res

In [17]:
df["is_correct2"] = df.apply(
    lambda row: is_correct2(row["min_occur"], row["max_occur"], row["letter"], row["pwd"]),
    axis=1
)

<ipython-input-16-1c93de7d4ddc>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  res = pd.Series(dtype=None)

In [18]:
len(df.loc[df.is_correct2].index)

321