In [85]:
import pandas as pd

In [86]:
df = pd.read_csv("input.csv", header=None, names=["col1"])
nb_rows=128
nb_col=8

In [87]:
def get_row_col(string):
    res = pd.Series(dtype=None)
    row_string = string[:7]
    col_string = string[7:]
    #print(f"row: {row_string}, col: {col_string}")
    # Get row number
    nb_row = [0, 127]
    for l in row_string:
        diff = nb_row[1]-nb_row[0]+1
        if l == "B":
            nb_row[0] = nb_row[0] + (diff // 2)
        elif l == "F":
            nb_row[1] = nb_row[1] - (diff // 2)
        else:
            print(l, string)
            pass
    if row_string[-1] == "B":
        row=max(nb_row)
    elif row_string[-1] == "F":
        row=min(nb_row)
    else:
        pass
    
    # get col number:
    nb_col = [0, 7]
    for c in col_string:
        diff = nb_col[1]-nb_col[0]+1
        if c == "R":
            nb_col[0] = nb_col[0] + (diff // 2)
        elif c == "L":
            nb_col[1] = nb_col[1] - (diff // 2)
        else:
            print(string)
            pass
    if col_string[-1] == "R":
        col=max(nb_col)
    elif col_string[-1] == "L":
        col=min(nb_col)
    else:
        pass
    
    res["row"] = row
    res["col"] = col
    res["seat_id"] = row*8 + col
    
#     print(f"{string}: row {row}, column {col}, seat_id {row*8 + col}")
#     print(f"{row_string} --> {nb_row}")
#     print(f"{col_string} --> {nb_col}")
    return res

In [88]:
get_row_col("BFFFBBFRRR")

<ipython-input-87-375f96157b86>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  res = pd.Series(dtype=None)

row         70
col          7
seat_id    567
dtype: int64

In [89]:
get_row_col("FFFBBBFRRR")

<ipython-input-87-375f96157b86>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  res = pd.Series(dtype=None)

row         14
col          7
seat_id    119
dtype: int64

In [90]:
get_row_col("BBFFBBFRLL")

<ipython-input-87-375f96157b86>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  res = pd.Series(dtype=None)

row        102
col          4
seat_id    820
dtype: int64

In [91]:
df[["row", "col", "seat_id"]] = df.apply(lambda row: get_row_col(string=row["col1"]), axis=1)

<ipython-input-87-375f96157b86>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  res = pd.Series(dtype=None)

In [92]:
df

           col1  row  col  seat_id
0    BFFFBBFRLR   70    5      565
1    FBFFFBBLRL   35    2      282
2    BFFFFFBRRR   65    7      527
3    FBBBFFFLRR   56    3      451
4    FFBFBFBRLL   21    4      172
..          ...  ...  ...      ...
784  BFBBBFBRRL   93    6      750
785  FFFBBBBLLL   15    0      120
786  BBFBFBBRRL  107    6      862
787  FFBFFBBLRR   19    3      155
788  FBBFFBFLLR   50    1      401

[789 rows x 4 columns]

In [93]:
df.seat_id.max()

864

In [99]:
liste_id = []
for i in range(1, 128):
    for j in range(8):
        liste_id.append(i*8 + j)

In [100]:
for seat in liste_id:
    if seat in list(df.seat_id.values):
        pass
    else:
        print(seat)

8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
739
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023

739 car c'est l'id isolé